# Sets

Sets are a built in data type in Python used to store collections of unique items. They are unordered and do not allow duplicates.

In [1]:
## create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [4]:
my_set=set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [6]:
my_set=set([1,6,5,6,4,3,3,2])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [8]:
## Basic sets operations
## Adding and removing elements
my_set.add(7)
print(my_set)
my_set.add(20)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 20}
{1, 2, 3, 4, 5, 6, 7, 20}

In [9]:
## Removing elements
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7, 20}

In [10]:
my_set.remove(10) # This will raise a KeyError because 10 is not in the set

KeyError: 10

In [11]:
my_set.discard(10) # This will not raise an error even if 10 is not in the set

In [12]:
## pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7, 20}

In [14]:
## Clear all elements
my_set.clear()
print(my_set)

set()

In [15]:
## Set membership test

my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [16]:
## Mathematical operations

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Union
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

In [19]:
set1.intersection_update(set2) ## Common elements will be retained in set1
print(set1)

{4, 5, 6}

In [ ]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference
print(set1.difference(set2)) ## Elements in set1 but not in set2

{1, 2, 3}

In [21]:
print(set1)
set1.difference_update(set2) ## Elements in set1 but not in set2 will be retained in set1
print(set1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3}

In [ ]:
## Symmetric Difference
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
set1.symmetric_difference(set2) ## Elements in either set1 or set2 but not in both

{1, 2, 3, 7, 8, 9}

In [24]:
## Sets methoods

set1={1,2,3}
set2={3,4,5}
print(set1.issubset(set2)) ## Check if set1 is a subset of set2

False

In [25]:
print(set1.issuperset(set2)) ## Check if set1 is a superset of set2

False

In [27]:
lst=[1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [29]:
## Counting unique words in text
text="In this tutorial we are discussing about sets"
words=text.split()
unique_words=set(words)
print(unique_words)
len(unique_words)

{'discussing', 'are', 'we', 'tutorial', 'this', 'In', 'about', 'sets'}

8